// Border Rand Transparent machen
* { all: unset; }

@import "./scss/control_center.scss";
@import "./scss/battery.scss";
@import "./scss/notifications.scss";
@import "./scss/network.scss";
@import "./scss/audio.scss";
